@import "../../styles-variables/variables";

main{
    height: 91vh;
    width: 100vw;
    margin-top: 9vh;
    background-color: $redBG;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    box-shadow:  0 0 0 -6px black;
    img{
        height: 100px;
    }
    .bg-logo{
        position: absolute;
        height: 100%;
        width: 100%;
        background-image: url("../../assets/brand_nike_icon_157863.svg");
        background-size: 200px 300px;
        &::before{
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            background: url("../../assets/brand_nike_icon_157863.svg");
            background-size: 200px 300px;
            background-position: -90px -150px;
        }
    }
    h1{
        font-size: 18em;
        // margin-left: 7vw;
        left: 10rem;
        position: absolute;
        opacity: 0.8;
        font-family: FuturaExBoldItalic;
    }
    #line1{
        width: 300px;
        height: 100vh;
        transform: skew(-20deg);
        background-color: rgba(167, 12, 12, 0.8);
        position: absolute;
        overflow: hidden;
        top:0;
        // left: 20vw;
        left: 25.7rem;
        z-index: 1;
        h1{
            // content: "HOME";
            color: $white;
            position: absolute;
            // left: -18.2em;
            left: -1.24em;
            font-size: 18em;
            font-family: FuturaExBoldItalic;
            z-index: 2;
            transform: skew(20deg);
            // clip-path: polygon(49.9% 0%, 85.4% 0%, 70.9% 100%, 35% 100%);
            // opacity: 1000;
            // mask-image: element(.line1);
        }
    }
    #line2{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 200px;
        height: 60vh;
        background-color: #A70C0C;
        // clip-path: polygon(100% 0, 100% 100%, 0 100%);
        border-left: solid 15px $white;
        transform: rotateZ(20deg);
        transform-origin: left bottom;
        z-index: 2;
    }
}