@import "../../styles-variables/variables";

header{
    width: 100vw;
    // height: 98px;
    height: 9vh;
    background-color: #cb0e0e;
    text-transform: uppercase;
    @include flexContent(space-between);
    flex-direction: row;
    padding: 0 10%;
    color: $white;
    font-size: 1.2rem;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    filter: drop-shadow(0 0 5rem rgb(0, 0, 0));
    .logo{
        img.nikeLogo{
            width: 100px;
        }
    }
    ul{
        @include flexContent(space-between);
        flex-direction: row;
        list-style: none;
        a{
            text-decoration: none;
            margin-left: 2em;
            color: $white;
            pointer-events: auto;
        }
    }
}